<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta http-equiv="X-UA_Compatible" content="ie=edge">
    <title>Google Map Test</title>
    <style>
        html,
        body {
            height: 100%;
            font-family: "Lato", sans-serif;
        }

        #map {
            height: 90%;
            width: 100%;
        }
    </style>
    <script>
        function back() {
            var lat = document.querySelector('#curlat').innerHTML;
            var lng = document.querySelector('#curlng').innerHTML;

            console.log('func back() lat -> ' + lat + ', lng -> ' + lng);
            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/profile");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "lat");
            hiddenField.setAttribute("value", lat);
            form.appendChild(hiddenField);

            var hiddenField1 = document.createElement("input");
            hiddenField1.setAttribute("type", "hidden");
            hiddenField1.setAttribute("name", "lng");
            hiddenField1.setAttribute("value", lng);
            form.appendChild(hiddenField1);
            document.body.appendChild(form);

            form.submit();
        }
    </script>


</head>

<body>
    <div class="container">
        <h1>Map</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-2">latitude:</div>
                    <div class="col-sm-2" id="curlat"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-2">latitude:</div>
                    <div class="col-sm-2" id="curlng"></div>
                </div>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" onclick="back()">뒤로가기</button>
            </div>
        </div>
    </div>
    <br>
    <div id="map"></div>


    <script>
        function initMap() {
            // Map options
            var paramLat = <%=lat %>;
            var paramLng = <%=lng %>;
            var options = {
                zoom: 13,
                center: { lat: paramLat, lng: paramLng }
            }


            // New map
            var map = new google.maps.Map(document.getElementById('map'), options);

            map.addListener('click', function (event) {
                placeMarker(map, event.latLng);
                console.log('click -> ' + event.latLng);
                document.querySelector('#curlat').innerHTML = event.latLng.lat();
                document.querySelector('#curlng').innerHTML = event.latLng.lng();
            });

            // Add marker
            var marker = new google.maps.Marker({
                position: { lat: paramLat, lng: paramLng },
                map: map,
                icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
            });

            var infoWindow = new google.maps.InfoWindow({
                content: '<h1><%=name %>, <%=address %></h1>'
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });
        }

        function placeMarker(map, location) {
            // var clickedLocation = new google.maps.LatLng(location);
            // var marker = new google.maps.Marker({ position: location, map: map });
            map.setCenter(location);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscU4engo1Mwz73WPUNtQHUx6nXVg5nwE&callback=initMap">
    </script>
</body>

</html>