<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/ionicons.min.css">
    <link rel="stylesheet" href="theme/css/admin.min.css">
    <link rel="stylesheet" href="theme/css/skins/_all-skins.min.css">
    <meta http-equiv="X-UA_Compatible" content="ie=edge">

    <script>
        var gLat;
        var gLng;
        function back() {
            var lat = document.querySelector('#curlat').innerHTML;
            var lng = document.querySelector('#curlng').innerHTML;

            console.log('func back() lat -> ' + gLat + ', lng -> ' + gLng);
            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/profile");

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "lat");
            hiddenField.setAttribute("value", gLat);
            form.appendChild(hiddenField);

            var hiddenField1 = document.createElement("input");
            hiddenField1.setAttribute("type", "hidden");
            hiddenField1.setAttribute("name", "lng");
            hiddenField1.setAttribute("value", gLng);
            form.appendChild(hiddenField1);

            var hiddenField2 = document.createElement("input");
            hiddenField2.setAttribute("type", "hidden");
            hiddenField2.setAttribute("name", "default");
            hiddenField2.setAttribute("value", "1");
            form.appendChild(hiddenField2);

            document.body.appendChild(form);

            form.submit();
        }

        var map;
        var markers = [];

        function initMap() {
            // Map options
            var paramLat = <%=lat %>;
            var paramLng = <%=lng %>;
            var options = {
                zoom: 13,
                center: { lat: paramLat, lng: paramLng }
            }

            // New map
            map = new google.maps.Map(document.getElementById('map'), options);

            map.addListener('click', function (event) {
               // placeMarker(map, event.latLng);
                console.log('click -> ' + event.latLng);
                document.querySelector('#curlat').innerHTML = event.latLng.lat();
                document.querySelector('#curlng').innerHTML = event.latLng.lng();
                gLat = event.latLng.lat();
                gLng = event.latLng.lng();
                deleteMarkers();
                addMarker(event.latLng);
                showMarkers();
                // document.querySelector('#coordinate').innerHTML = event.latLng.lat();
                // document.querySelector('#coordinate1').innerHTML = event.latLng.lng();
            });
        }

        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
        }

        function setMapOnAll(map) {
            for(var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function clearMarkers() {
            setMapOnAll(null);
        }

        function showMarkers() {
            setMapOnAll(map);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function placeMarker(map, location) {
            // var clickedLocation = new google.maps.LatLng(location);
            // var marker = new google.maps.Marker({ position: location, map: map });
            map.setCenter(location);
        }
    </script>
</head>

<body class="bg-gray">
    <div class="container">
        <br>
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="pull-right box-tools">
                    <button type="button" class="btn" data-widget="back" onclick="back()">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
                <i class="fa fa-map-marker"></i>
                <h3 class="box-title">Asset</h3>
            </div>

            <input type="hidden" id="curlat">
            <input type="hidden" id="curlng">

            <div class="row">

                <div class="col-sm-2">
                    <p id="curlat"> </p>
                </div>
                <div class="col-sm-2">
                    <p id="curlng"> </p>
                </div>
            </div>

            <div class="box-body no-padding">
                <div class="pad">
                    <div id="map" style="height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDscU4engo1Mwz73WPUNtQHUx6nXVg5nwE&callback=initMap">
    </script>
</body>

</html>