<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>

<body>
    <h1>Signup</h1>
    <br>
    <form method="post" action="/signup">
        <table>
            <tr>
                <td>
                    <label>Email</label>
                </td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
                <td>
                    <input type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grade</label>
                </td>
                <td>
                    <input type="text" name="grade">
                </td>
            </tr>
        </table>
        <input type="submit" value="send" name="">
    </form>
</body>

</html>