<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/ionicons.min.css">
    <link rel="stylesheet" href="theme/css/admin.min.css">
    <link rel="stylesheet" href="theme/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="theme/css/addStyle.css">
</head>

<body class="bg01">
    <div class="login-box">
        <div class="login-logo">
            <b>SignUp</b>
        </div>
    <div class="login-box-body radius5">
    <form method="post" action="/signup">
        <table class="tab01">
            <tr>
                <td>
                    <input type="text" name="email" placeholder="Email"  class="form-control radius" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password" placeholder="Password" class="form-control radius" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" placeholder="Name" class="form-control radius" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="grade" placeholder="Grade" class="form-control radius" >
                </td>
            </tr>
        </table>
        <div class="row">
                <div class="col-xs-8">
                    
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block radius20" onclick="">Send</button>
                </div>
        </div>
    </form>
    </div>
    </div>
</body>

</html>